<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/index.js"></script>
    <script>window.plans = <%- JSON.stringify(plans); %></script>
    <script>window.maps = <%- JSON.stringify(maps); %></script>

  </head>

  <body>
    <% include partials/navbar %>
    <% include partials/register %>

    <div class="jumbotron">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>

    <div class="container plan-container">
      <div class="row">
        <div class="col-12">

          <div class="map-filters">
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">

              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Assault
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a class="dropdown-item" href="#">Dropdown link</a>
                  <a class="dropdown-item" href="#">All</a>
                </div>
              </div>

              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Control
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a class="dropdown-item" href="#">Dropdown link</a>
                  <a class="dropdown-item" href="#">All</a>
                </div>
              </div>

              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Escort
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a class="dropdown-item" href="#">Dropdown link</a>
                  <a class="dropdown-item" href="#">All</a>
                </div>
              </div>

              <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Hybrid
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                  <a class="dropdown-item" href="#">Dropdown link</a>
                  <a class="dropdown-item" href="#">All</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="row">

        <% for(var i in plans) { %>
        <div class="col-sm-4 col-xs-12">
          <div class="card">
            <div class="card-header">
              <div class="media">
                <a href="/plans/<%= plans[i].id %>"><img src="<%= plans[i].icon %>"></a>
                <div class="media-body">
                  <h5 class="mt-0"><strong><%= plans[i].name %></strong></h5>
                  <div>Map: <%= plans[i].map_name %> </div>
                  <div>Type: <%= plans[i].type %></div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <p class="card-text"><%= plans[i].description  %></p>
              <div class = "button-container">
                <a href="/plans/<%= plans[i].id %>"   class="btn btn-primary">View Plan</a>
                <% if(plans[i].owner_id === userID){ %>
                  <button type="button" class="btn btn-warning delete-plan" data-id="<%= plans[i].id %>">Delete Plan</button>
                <% } %>
              </div>
            </div>
            <div class="card-footer">
              Created by: <%= plans[i].email  %>
            </div>
          </div>
        </div>
        <% } %>

      </div>
    </div>

  </body>
</html>
