<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/index.js"></script>
    <script>window.plans = <%- JSON.stringify(plans); %></script>

  </head>

  <body>
    <% include partials/navbar %>
    <% include partials/register %>
    <h1>Plans</h1>



<div class="container plan-container">
  <div class="row">

    <% for(var i in plans) { %>
    <div class="col-sm col-xs-12">
      <div class="card">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= plans[i].name %></h5>
          <p class="card-text"><%= plans[i].description  %></p>
          <a href="/plans/<%= plans[i].id %>"   class="btn btn-primary">View Map</a>
          <% if(plans[i].owner_id === userID){ %>
            <button type="button" class="btn btn-warning delete-plan" data-id="<%= plans[i].id %>">Delete Plan</button>
          <% } %>
        </div>
      </div>
    </div>
    <% } %>

  </div>
</div>







  </body>
</html>
